/*footer*/
.footer{
	width: 100%;
	height: 40px;
	margin-top: 40px;
	background: #24435b;
	text-align: center;
	padding-top: 20px;
}
.contain{
	width: 1170px;
	height: 30px;
	margin: 0 auto;
	text-align: center;
}
.col{
	width: 33.33333%;
	height: auto;
	float: left;
}
.col span{
	color: #69859a;
}
.col a{
	color: #9db0be;
}
.footer-floor{
	width: 100%;
	height: 43px;
	background: #1b374d;
}
.contain p{
	color: #69859a;
}
/*主页完结*/