/*公司动态*/
.role{
	width: 100%;
	height: 172px;
	background:#351841;
	background-repeat: no-repeat;
	background-position: -293px 0;
	overflow: hidden;
}
.zrole{
	width: 931px;
	height: 172px;
	margin: 0 auto;
}
.zrole h1{
	color: #fff;
	font-size: 48px;
	font-family: "宋体";
	margin-top: 50px;
}
.tabs{
	width: 288px;
	height: 72px;
	float: right;
}
.tabs li{
	list-style: none;
	width: 94px;
	height: 72px;
	background: #050714;
	float: left;
	margin-right: 1px;
	border-top-left-radius:5px;  
	border-top-right-radius:5px;
	margin-top: 25px;
	opacity: 0.8;
	text-align: center;
	line-height: 41px;
}
.tabs li a{
	color: #fff;
	font-size: 16px;
}
.tabs li.x1{
	background: #fff;
}
.tabs li.x1 a{
	color: #555555;
}

/*捷报丨车网互联荣登车联网企业TOP100榜单*/

.container{
	width: 920px;
	height:auto;
	margin: 0 auto;
	margin-top: 30px;
	text-align: left;
	padding: 0 15px;
}
.media-body{
	width: 920px;
	height: 91px;
}
.media-body a{
	font-size: 20px;
    color: #2a5d84; 
}
.media-body small{
    color: #999;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
.container li{
	list-style: none;
}
/*跳转*/
.tzhuan{
	width: auto;
	height: 40px;
	margin-left: 600px;
	text-align: center;
	line-height: 39px;
}
.tzhuan a{
	width: 38px;
	height: 38px;
	border: 1px solid #000;
	float: left;
}
.tzhuan span{
	width: 38px;
	height: 38px;
	border: 1px solid #000;
	float: left;
	background: deepskyblue;
}
