/*banner*/
.banner{
	width: 100%;
	height: 379px;
	position: relative;
	cursor: pointer;
}
.banner ul{
	list-style:none;
}
.imgbox{
	width: 100%;
	height: 100%;
	/*margin: 0 auto;*/
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
}
.imgbox li{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 100%;
	top: 0;
}
.imgbox .first{
	position: absolute;
	left: 0;
	top: 0;
}
.imgbox li img{
	width: 100%;
}
.circle{
	width:70px;
	height: 10px;
	position: absolute;
	left: 45%;
	bottom: 30px;
}
.circle li{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	float: left;
	border: 1px solid #ffffff;
	margin-left: 4px;
}
.circle li.first{
	background: #ffffff;
}
.anniu{
		width: 30px;
		height: 60px;
		position: absolute;
		top: 170px;
		font-size: 30px;
		font-family: "宋体";
		text-align: center;
		line-height: 60px;
		color: #ffffff;
		font-weight: bold;
		opacity: 0.6;
		z-index: 100;
		cursor: pointer;
	}
	.left{
		left: 30px;
		border-radius: 0 70px 70px 0;

	}
	.right{
		right: 30px;
		border-radius: 70px 0 0 70px;

	}
/*车网互联*/
.centert-7{
	width: 1170px;
	height: 469px;
	margin: 0 auto;
	text-align: center;
	line-height: 40px;
	padding-top: 90px;
}
.cwhl{
	font-size: 30px;
	color: #2a5d84;
}
.hz{
	color: #9999b2;
	font-size: 18px;
}
.lk{
	width: 132px;
	height: 40px;
	border-radius: 5px;
	background: #6d9e1c;
	margin: 0 auto;
	margin-bottom: 50px;
	margin-top: 20px;
	text-align: center;
	list-style: 39px;
}
.lk a{
	color: #ffffff;
}
.situ{
	width: 83%;
	height: 159px;
	margin: 0 auto;
}
.xt{
	width: 120px;
	height: 159px;
	float: left;
	margin-left: 110px;
	text-align: center;
}
.xt span{
	color: #999999;
	font-size: 16px;
}


/*新闻中心*/
.news{
	width: 100%;
	height: 822px;
	background: #f2f5f8;
}
.newsz{
	width: 1170px;
	height: 822px;
	margin: 0 auto;
}
.newtop{
	width: 100%;
	height: 130px;
	text-align: center;
	padding-top: 100px;
}
.xwzx{
	font-size: 30px;
	color: #2a5d84;
}
.fx{
	font-size: 18px;
	color: #999999;
}
.newbottom{
	width: 100%;
	height: 592px;
}
.dt{
	width: 345px;
	height: 533px;
	margin-left: 20px;
	float: left;
	line-height: 40px;
	padding-left: 20px;
}
.dt ul{
	display: block;
	list-style-type: disc;
}
.dt h3 a{
	font-size: 22px;
	color: #2a5d84;
	font-family: "宋体"
}
.dt li a{
	color: #999999;
}
.gd{
	width: 52px;
	height: 32px;
	background: #6d9e1c;
	border-radius: 3px;
	text-align: center;
	line-height: 31px;
}
.gd a{
	color: #ffffff;
	font-size: 16px;
}
.ggtz{
	width: 1170px;
	height: 340px;
	margin-top: 60px;
}
.ggtz span{
	float: left;
	font-size: 22px;
	color: #2a5d84;
}
.bidbox{
	width: 340px;
	height:340px;
	float: right;
}