.con{
	width: 1170px;
	height: auto;
	margin: 0 auto;
	margin-top: 30px;
}
.page{
	width: 920px;
	height: 85px;
	margin: 0 auto;
	border-bottom: 1px solid #eee;
}
.page h3{
    font-size: 24px;
    color: #2a5d84;
    font-family: "宋体";
    text-align: center;
}
.row{
	width: 950px;
	height: 39px;
	margin: 0 auto;
	margin-top: 10px;
}
.yrow{
	width: 140px;
	height: 100%;
	float: right;
}
.zrow{
	width: 200px;
	height: 100%;
	float: right;
	margin-right: 100px;
}
.center{
	width: 820px;
	height: auto;
	margin: 0 auto;
	margin-top: 20px;
	line-height: 30px;
	font-size: 16px;
	text-align: left;
}
