*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
html,body{
	background: url(../img/11.jpg);
	background-size:cover ;
}
.top{
	width: 100%;
	height: 0.8rem;
	background: #1b1b1f;
}
.top ul{
	text-align: center;
	padding-top: 0.2rem;
	float: left;
	height: 0.6rem;
	font-size: 0.36rem;
}
a{
	color: #fff;
}
.top .top1{
	padding-left: 2%;
	width: 10%;
}
.top .top2{
	width: 76%;
}
.top .top3{
	padding-top: 0.35rem;
	height: 0.45rem;
	padding-right: 2%;
	width: 10%;
}
.top .top3 li{
	width: 0.1rem;
	height: 0.1rem;
	border-radius:50% ;
	float: left;
	background: #fff;
	margin-left: 0.04rem;
}


.clock{
	width: 5.02rem;
	height: 5.02rem;
	background: red;
	margin: 1.48rem auto;
	background: url(../img/clock.png);
	background-size:cover;
	position: relative;
	background-repeat:no-repeat ;
	/*background-position-x:0.01rem ;*/
	background-position-y:0.09rem ;
}
.time{
	width: 3.87rem;
	height: 0.4rem;
	margin: 2.2rem auto;
	background: url(../img/yy.png);
	background-size:contain;
	background-repeat:no-repeat ;
	/*background: center;*/
	padding-top: 0.15rem;
}
.time span{
	font-size: 0.23rem;
	color: #6b599d;
	float: left;
	margin-left: 0.1rem;
}
.time #t_d{
	margin-left: 0.6rem;
}

.btn{
	width: 100%;
	height: 0.81rem;
	margin-top: -2rem;
}
.btn a{
	padding-top: 0.3rem;
	display: block;
	width: 3.25rem;
	height: 0.51rem;
	float: left;
	background: url(../img/btn.png);
	background-size:cover ;
}
.btn .left{
	margin-left: 0.43rem;
}
.btn .right{
	margin-left: 0.14rem;
}
.btn a span{
	height: 100%;
	float: left;
	color: #b0a48a;
	font-size:0.25rem ;
	font-weight: bold;
}
.btn a span:nth-child(1){
	margin-left:0.7rem ;
}
.btn a span img{
	float: left;
	width: 50%;
	height: 50%;
}

